@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #6ccb94;
}

/* LinkedIn Colors */
.icon-bg-linkedIn {
  background-image: linear-gradient(to bottom right, #137fea, #0a66c2);
}

.content-bg-linkedIn {
  background-image: linear-gradient(to bottom right, rgba(19, 127, 234, 0.2), rgba(10, 102, 194, 0.2));
}

/* Behance Colors */
.icon-bg-behance {
  background-image: linear-gradient(to bottom right, #303030, #222222);
}

.content-bg-behance {
  background-image: linear-gradient(to bottom right, rgba(48, 48, 48, 0.5), rgba(34, 34, 34, 0.5));
}

/* Github Colors */
.icon-bg-github {
  background-image: linear-gradient(to bottom right, #E5E5E5, #D6D6D6);
}

.content-bg-github {
  background-image: linear-gradient(to bottom right, rgba(229, 229, 229, 0.2), rgba(214, 214, 214, 0.2));
}


body {
  margin: 0px;
  background-color: #141628;
  font-family: "Comfortaa", cursive;
}

.un-selectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.hamburger-icon {
  height: 3.2px;
  background-color: rgba(108, 203, 148, 1);
  display: block;
  margin: 2px 0px;
  border-radius: 100px;
}

.hamburger-icon:nth-child(1) {
  width: 25px;
}

.hamburger-icon:nth-child(2) {
  width: 15px;
}

.hamburger-icon:nth-child(3) {
  width: 20px;
}

.menu-button {
  background-color: transparent;
  border: none;
  padding: 0px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
}

.menu-button:hover > .hamburger-icon {
  background-color: rgb(84, 228, 144);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.sidenav a {
  text-decoration: none;
  font-size: 2em;
  color: rgba(20, 22, 40, 0.5);
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
}

.sidenav a:hover {
  color: rgba(20, 22, 40, 1);
  font-weight: 600;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  z-index: 2;
  font-size: 2em;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* #main {
  transition: margin-left 0.5s;
  padding: 20px;
} */

.fit-Image {
  width: 100%;
  height: 100%;
}

.hero-heading,
.hero-sub-heading {
  font-weight: 300;
}

.hero-sub-heading > span,
.hero-heading > span {
  color: var(--primary);
  font-weight: 700;
}

.hero-sub-heading {
  line-height: 35px;
}

.tab {
  text-decoration: none;
  display: flex;
  flex-flow: row;
}

.tab-sm {
  width: fit-content;
}

.tab-icon {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-content {
  flex: 1;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 300;
  line-height: 30px;
  font-size: 0.85em;
}

.tab-icon-sm {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.tab-content-sm {
  height: 30px;
}

.custom-cta-button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
 }
 
 .custom-cta-button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid royalblue;
 }
 
 .custom-cta-button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-60deg);
      -ms-transform: translate(-50%, -50%) rotate(-60deg);
          transform: translate(-50%, -50%) rotate(-60deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
 }
 
 .custom-cta-button:hover span::before {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      -ms-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
 }
 
 .custom-cta-button:hover {
  color: white;
 }
 
 .custom-cta-button:active span::before {
  background: #2751cd;
 }


@media screen and (max-width: 450px) {
  .sidenav a {
    font-size: 1.5em;
  }
}
