@import url("../../../theme/siteColors.css");

.textPrimaryColor {
  color: var(--primaryColor);
}

.letterSpacing10 {
  letter-spacing: 10px;
}

@media screen and (max-width: 350px) {
  .letterSpacing10 {
    letter-spacing: 3px;
  }
}
