@import url("../../../theme/siteColors.css");

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.menuButton {
  background-color: transparent;
  border: none;
  width: fit-content;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2.5em;
  color: #818181;
  display: block;
  font-weight: 400;
  text-transform: uppercase;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menuButton:hover {
  color: var(--darkColor);
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;

  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.closebtn:hover {
  color: var(--darkColor);

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.underLine {
  width: 0%;
  height: 2px !important;
  margin-top: -10px;
  background-color: var(--darkColor);

  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.underline {
  width: 0%;
  height: 2px !important;
  background-color: var(--darkColor);

  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.menuButton:hover .underline {
  width: 100%;
}

@media screen and (max-width: 750px) {
  .menuButton {
    font-size: 18px;
  }
}
