@import url("../../../theme/siteColors.css");


.iconBtn:hover > .btnIcon > div {
  width: 25px;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.btnIcon {
  width: fit-content;
  height: fit-content;
}

.btnIcon > div {
  background-color: var(--primaryColor);
  height: 4px;
  display: block;
  border-radius: 50px;
  margin-left: auto;

  -webkit-transition: width 350ms, transform 900ms;
  -moz-transition: width 350ms, transform 900ms;
  -ms-transition: width 350ms, transform 900ms;
  -o-transition: width 350ms, transform 900ms;
  transition: width 350ms, transform 900ms;
}

.btnIcon > div:nth-child(1) {
  width: 25px;
  margin-bottom: 4px;
}

.btnIcon > div:nth-child(2) {
  width: 15px;
  margin-bottom: 4px;
}

.btnIcon > div:nth-child(3) {
  width: 20px;
}
