@import url("../../../theme/siteColors.css");

.enlarge {
  transform: scale(2);
}

.parentHover {
  height: 300px;
}

.roundBorder {
  border-radius: 2px;
}

.lineDivider {
  height: 25px;
  width: 2px;
  background-color: var(--primaryColor);
  opacity: 0.3;
}

.mainContentDiv {
  position: absolute;
  z-index: 30;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  height: min-content;
  border-radius: 3px;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);

  -webkit-transform: translateY(35px);
  -moz-transform: translateY(35px);
  -ms-transform: translateY(35px);
  -o-transform: translateY(35px);
  transform: translateY(35px);

  -webkit-transition: 450ms ease-out;
  -moz-transition: 450ms ease-out;
  -ms-transition: 450ms ease-out;
  -o-transition: 450ms ease-out;
  transition: 450ms ease-out;
}

.hoverDiv {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  background-color: var(--darkColorTransulsant);
  
  -webkit-transition: 500ms ease-out;
  -moz-transition: 500ms ease-out;
  -ms-transition: 500ms ease-out;
  -o-transition: 500ms ease-out;
  transition: 500ms ease-out;
}

.hoverDivTitle {
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.hoverDivBtns {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.hoverDiv a {
  height: 100%;
  width: 50%;
  flex: 1;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
}

.hoverDiv a:hover {
  background-color: var(--primaryColor);
  color: var(--darkColor);
}

.parentHover:hover .hoverBackdrop {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  -moz-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  -ms-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  -o-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.parentHover:hover .mainContentDiv {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.parentHover:hover .mainContentDiv .hoverDiv {
  background-color: var(--darkColor);

  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0%);
}

@media screen and (max-width: 1440px) {
  .maxheightFitContent {
    max-height: 230px;
  }
}

@media screen and (max-width: 1024px) {
  .maxheightFitContent {
    max-height: 180px;
  }
}

@media screen and (max-width: 780px) {
  .maxheightFitContent {
    max-height: 300px;
  }
}

/* @media screen and (max-width: 650px) {
  .maxheightFitContent {
    max-height: 300%;
  }
} */