@import url("../../../theme/siteColors.css");

.text-Primary-Color {
  color: var(--primaryColor);
}

.mainTitle {
  width: max-content;
  font-size: 4.4em;
  margin-bottom: 0px;
  line-height: 70px;
}

.subTitle {
  width: max-content;
  font-size: 2.55em;
}

@media screen and (max-width: 1440px) {
  .mainTitle {
    font-size: 2.8em;
  }

  .subTitle {
    font-size: 1.64em;
  }
}

@media screen and (max-width: 1024px) {
  .mainTitle {
    font-size: 2.8em;
  }

  .subTitle {
    font-size: 1.64em;
  }
}

@media screen and (max-width: 768px) {
  .mainTitle {
    font-size: 2.75em;
  }

  .subTitle {
    font-size: 1.65em;
  }
}

@media screen and (max-width: 600px) {
  .mainTitle {
    font-size: 2.7em;
  }

  .subTitle {
    font-size: 1.6em;
  }
}
