/* .pulse {
  margin: 100px;
  display: block;
  position: absolute;
  bottom: 8.5vh;
  width: 23vw;
  height: 48vh;
  z-index: -1;
  border-radius: 100%;
  background: transparent;
  box-shadow: 0 0 0 rgba(108, 203, 148, 0.6);
  animation: pulse 1.5s infinite;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(108, 203, 148, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(108, 203, 148, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(108, 203, 148, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(108, 203, 148, 0.6);
    box-shadow: 0 0 0 0 rgba(108, 203, 148, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(108, 203, 148, 0);
    box-shadow: 0 0 0 30px rgba(108, 203, 148, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(108, 203, 148, 0);
    box-shadow: 0 0 0 0 rgba(108, 203, 148, 0);
  }
} */

/* @media screen and (min-width: 1900px) {
  .pulse {
    bottom: calc(100% - 94.6%);
  }
} */
