@import url("../../../theme/siteColors.css");

.outlineBoxTop,
.outlineBoxBottom {
  position: absolute;
  height: 40%;
  width: 40%;
  background-color: transparent;
  border-radius: 2px;
}

.outlineBoxTop {
  top: -6%;
  right: -3%;
  border-top: 5px solid var(--primaryColor);
  border-right: 5px solid var(--primaryColor);
}

.outlineBoxBottom {
  left: -3%;
  bottom: -6%;
  border-left: 5px solid var(--primaryColor);
  border-bottom: 5px solid var(--primaryColor);
}

.boxTop,
.boxBottom {
  height: 100px;
  width: 100px;
  border-radius: 2px;
  background-color: var(--primaryColor);
  position: absolute;
  /* transition: all 1s ease-out; */
  z-index: -1;
}

.boxTop {
  top: -6%;
  left: 30%;
  animation-timing-function: ease-out;
  animation: topDivMovement 10s infinite;
}

.boxBottom {
  right: 30%;
  bottom: -6%;
  animation-timing-function: ease-out;
  animation: bottomDivMovement 10s infinite;
}

@keyframes topDivMovement {
  0% {
    top: -6%;
    left: 30%;
  }
  25% {
    top: -6%;
    left: -3%;
  }
  50% {
    top: 35%;
    left: -3%;
  }
  75% {
    top: -6%;
    left: -3%;
  }
  100% {
    top: -6%;
    left: 30%;
  }
}

@keyframes bottomDivMovement {
  0% {
    right: 30%;
    bottom: -6%;
  }
  25% {
    right: -3%;
    bottom: -6%;
  }
  50% {
    right: -3%;
    bottom: 35%;
  }
  75% {
    right: -3%;
    bottom: -6%;
  }
  100% {
    right: 30%;
    bottom: -6%;
  }
}
