@import url("../../../theme/siteColors.css");

.btn {
  cursor: pointer;
}

.lineHzero {
  line-height: 0px;
}

.leftRound {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.rightRound {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* --------------------------------- LinkedIn --------------------------------- */

.linkedInIcoBG {
  background-image: var(--blueLinear);
}

.linkedInCtnBG {
  background-image: var(--blueLinearLow);
}

.linkedInBtnHover {
  overflow: hidden;

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.linkedInBtnHover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  border-radius: 2px;
  background-image: var(--blueLinear);

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.linkedInBtnHover:hover::before {
  width: 100%;
}

/* --------------------------------- GitHub --------------------------------- */

.gitHubIcoBG {
  background-image: var(--whiteLinear);
}

.gitHubCtnBG {
  background-image: var(--whiteLinearLow);
}

.gitHubBtnHover {
  overflow: hidden;

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.gitHubBtnHover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  border-radius: 2px;
  background-image: var(--whiteLinear);

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.gitHubBtnHover:hover::before {
  width: 100%;
}

.gitHubBtnHover > span {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.gitHubBtnHover:hover > span {
  color: #222222 !important;
}

/* --------------------------------- Behance --------------------------------- */

.behanceIcoBG {
  background-image: var(--blackLinear);
}

.behanceCtnBG {
  background-image: var(--blackLinearLow);
}

.behanceBtnHover {
  overflow: hidden;

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.behanceBtnHover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  border-radius: 2px;
  background-image: var(--blackLinear);

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.behanceBtnHover:hover::before {
  width: 100%;
}
