@import url("../../../theme/siteColors.css");

.lineHzero {
  line-height: 0px;
}

.leftRound {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rightRound {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* --------------------------------- LinkedIn --------------------------------- */

.linkedInIcoBG {
  background-image: var(--blueLinear);
}

.linkedInCtnBG {
  background-image: var(--blueLinearLow);
}

.linkedInBtnHover {
  overflow: hidden;
  transition: all 500ms;
}

.linkedInBtnHover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  border-radius: 4px;
  background-image: var(--blueLinear);
  transition: all 500ms;
}

.linkedInBtnHover:hover::before {
  width: 100%;
}

/* --------------------------------- GitHub --------------------------------- */

.gitHubIcoBG {
  background-image: var(--whiteLinear);
}

.gitHubCtnBG {
  background-image: var(--whiteLinearLow);
}

.gitHubBtnHover {
  overflow: hidden;
  transition: all 500ms;
}

.gitHubBtnHover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  border-radius: 4px;
  background-image: var(--whiteLinear);
  transition: all 500ms;
}

.gitHubBtnHover:hover::before {
  width: 100%;
}

.gitHubBtnHover > span {
  transition: all 1s;
}

.gitHubBtnHover:hover > span {
  color: #222222 !important;
}

/* --------------------------------- Behance --------------------------------- */

.behanceIcoBG {
  background-image: var(--blackLinear);
}

.behanceCtnBG {
  background-image: var(--blackLinearLow);
}

.behanceBtnHover {
  overflow: hidden;
  transition: all 500ms;
}

.behanceBtnHover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  border-radius: 4px;
  background-image: var(--blackLinear);
  transition: all 500ms;
}

.behanceBtnHover:hover::before {
  width: 100%;
}
