:root {
  /* --primaryColor: #6ccb94; */
  /* --primaryColor: #f5f5f5; */
  --primaryColor: #05e3be;
  --darkColor: #141628;

  /* LinkedIn */
  --blueLinear: linear-gradient(180deg, #137fea, #0a66c2);
  --blueLinearLow: linear-gradient(
    180deg,
    rgba(19, 127, 234, 0.3),
    rgba(10, 102, 194, 0.3)
  );

  /* SZABIST */
  --blueLinear_1: linear-gradient(180deg, #1b488c, #19417d);
  --blueLinearLow_1: linear-gradient(
    180deg,
    rgba(27, 72, 140, 0.3),
    rgba(25, 65, 125, 0.3)
  );

  /* Coursera */
  --blueLinear_2: linear-gradient(180deg, #0056d6, #0045ab);
  --blueLinearLow_2: linear-gradient(
    180deg,
    rgb(0, 86, 214, 0.3),
    rgba(0, 69, 171, 0.3)
  );

  /* GitHub */
  --whiteLinear: linear-gradient(180deg, #e5e5e5, #d6d6d6);
  --whiteLinearLow: linear-gradient(
    180deg,
    rgba(229, 229, 229, 0.3),
    rgba(214, 214, 214, 0.3)
  );

  /* Overroot */
  --whiteLinear_2: linear-gradient(180deg, #ffffff, #e2e2e2);
  --whiteLinearLow_2: linear-gradient(
    180deg,
    rgb(255, 255, 255, 0.15),
    rgb(226, 226, 226, 0.15)
  );

  /* Iqra University & Udemy */
  --whiteLinear_3: linear-gradient(180deg, #f4f4f4, #cfcfcf);
  --whiteLinearLow_3: linear-gradient(
    180deg,
    rgba(244, 244, 244, 0.2),
    rgba(207, 207, 207, 0.2)
  );

  /* Behance */
  --blackLinear: linear-gradient(180deg, #303030, #222222);
  --blackLinearLow: linear-gradient(
    180deg,
    rgba(48, 48, 48, 0.5),
    rgba(34, 34, 34, 0.5)
  );

  /* Cipher Savvy */
  --redLinear: linear-gradient(180deg, #ed2d28, #aa1216);
  --redLinearLow: linear-gradient(
    180deg,
    rgba(237, 45, 40, 0.15),
    rgba(170, 18, 22, 0.15)
  );
}
