:root {
  --primaryColor: #6ccb94;
  --darkColor: #141628;

  /*  LinkedIn */
  --blueLinear: linear-gradient(180deg, #137fea, #0a66c2);
  --blueLinearLow: linear-gradient(
    180deg,
    rgba(19, 127, 234, 0.3),
    rgba(10, 102, 194, 0.3)
  );

  /*  GitHub */
  --whiteLinear: linear-gradient(180deg, #e5e5e5, #d6d6d6);
  --whiteLinearLow: linear-gradient(
    180deg,
    rgba(229, 229, 229, 0.3),
    rgba(214, 214, 214, 0.3)
  );

  /* Behance */
  --blackLinear: linear-gradient(180deg, #303030, #222222);
  --blackLinearLow: linear-gradient(
    180deg,
    rgba(48, 48, 48, 0.5),
    rgba(34, 34, 34, 0.5)
  );

  /* Cipher Savvy */
  --redLinear: linear-gradient(180deg, #ed2d28, #aa1216);
  --redLinearLow: linear-gradient(
    180deg,
    rgba(237, 45, 40, 0.2),
    rgba(189, 61, 65, 0.2)
  );

  /*  Overroot */
  --whiteLinear2: linear-gradient(180deg, #ffffff, #e2e2e2);
  --whiteLinearLow2: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2),
    rgba(226, 226, 226, 0.2)
  );
}
