.notSelectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.disableScroll {
  overflow: hidden !important;
  position: relative !important;
}
