@import url("../../../theme/siteColors.css");

.redIconBG {
  background: var(--redLinear);
}

.redBodyBG {
  background: var(--redLinearLow);
}

.whiteIconBG {
  background: var(--whiteLinear_2);
}

.whiteBodyBG {
  background: var(--whiteLinearLow_2);
}
