@import url("../../../theme/siteColors.css");

.redIconBG {
  background: var(--redLinear);
}

.redBodyBG {
  background: var(--redLinearLow);
}

.whiteIconBG {
  background: var(--whiteLinear);
}

.whiteBodyBG {
  background: var(--whiteLinearLow);
}
