@import url("../../../theme/siteColors.css");

/* SZABIST */
.blue_1_IconBG {
  background: var(--blueLinear_1);
}

.blue_1_BodyBG {
  background: var(--blueLinearLow_1);
}

/* Coursera */
.blue_2_IconBG {
  background: var(--blueLinear_2);
}

.blue_2_BodyBG {
  background: var(--blueLinearLow_2);
}

/* IQRA University & Udemy */
.whiteIconBG {
  background: var(--whiteLinear_3);
}

.whiteBodyBG {
  background: var(--whiteLinearLow_3);
}

.cardDividerVertical {
  width: 100%;
  margin: 3px auto;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.2;
}

.cardDividerHorizontal {
  width: 1px;
  margin: 0 10px;
  /* height: 70px; */
  height: 4.1rem;
  background-color: #ffffff;
  opacity: 0.2;
}

/* 3D Flip Animation */
.flip-card {
  position: relative;
 
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  z-index: 0;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
  -moz-transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
  -ms-transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.flip-card-front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;

  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-card-front::after,
.flip-card-back::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.flip-card-front .flip-card-inner,
.flip-card-back .flip-card-inner {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 2;

  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  -moz-transform: translateY(-50%) translateZ(60px) scale(0.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(0.94);
  -o-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card:hover .flip-card-front {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
